
@{
    ViewBag.Title = "O mnie";
}
<h1>@ViewBag.Title.</h1>
<br />
<h2>Curriculum Vitae</h2>


<div class="row">

    <div class="col-3"><img src="~/images/foto.JPG" style=" max-height:300px; min-width:100px;"/></div>
    <div class="col-9">

        <h3>Jarosław Wojtaszczyk</h3>
        <hr />
        <table>
            <tr>
                <td class="td-cv"> <b>Data urodzenia: </b></td>
                <td class="td-cv"> 03.10.1995</td>
            </tr>

            <tr>
                <td class="td-cv">
                    <b>Miejsce zamieszkania: </b>
                </td>
                <td class="td-cv">ul.Staszica 3 m.47 40-230 Katowice</td>
            </tr>
            <tr>
                <td class="td-cv">
                    <b>Adres Email: </b>
                </td>
                <td class="td-cv"><a href="mailto:wojtaszczykjaroslaw@gmail.com">jaroslawwojtaszczyk@gmail.com</a></td>
            </tr>
            <tr>
                <td class="td-cv">
                    <b>Numer telefonu: </b>
                </td>
                <td class="td-cv">
                    +48 537 429 598
                </td>
            </tr>
        </table>
    </div>

</div>
<hr />
<h4>Wykształcenie</h4>
<table>
    <tr>
        <td class="td-cv">10.2018 - nadal</td>
        <td class="td-cv">
            <b>Uniwersytet Śląski w Katowicach WIiNoM</b>
            <br />
            kierunek: Informatyka inż. specjalizacja - projektowanie aplikacji webowych
        </td>
    </tr>
    <tr>
        <td class="td-cv">09.2011 - 06.2015</td>
        <td class="td-cv">
            <b>Techniczne Zakłady Naukowe w Częstochowie </b>
            <br />
            technik elektronik - bez dyplomu
        </td>
    </tr>
</table>
<hr />

<h4>Doświadczenie</h4>
<table>
    <tr>
        <td class="td-cv">
            09.2017 - 10.2018
        </td>
        <td class="td-cv">
            <b>Micomp - systemy komputerowe</b>
            <br />
            praktyka zawodowa
        </td>
    </tr>
</table>
<hr />
<h4>Umiejętności</h4>
<ul>
    <li> <b>Umiejętność programowania w języku Java</b> - zaawansowany </li>
    <li> <b>Znajomość: ASP.NET</b> - zaawansowany </li>
    <li> <b>Znajomość: SQL</b> - podstawowy </li>
</ul>
<hr />
<h4>Języki</h4>
<ul>
    <li>angielski - zaawansowany</li>
</ul>
<hr />
<h4>Certyfikaty i uprawnienia</h4>
<ul>
    <li>Stowarzyszenie Elektryków Polskich, kurs na uprawnienia SEP ,,E” do 1kV zakończony egzaminem (11.2014) </li>
</ul>
<hr />
<h4>Hobby</h4>
<br />
Technologie Microsoft, Żeglarstwo, Podróże
