@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<address>
    Jarosław Wojtaszczyk<br />
    40-230 Katowice<br />
    ul. Staszica 3 m. 47 <br />
    tel: +48 537 429 598<br />
</address>

<address>
    <strong>Email: </strong>   <a href="mailto:wojtaszczykjaroslaw@gmail.com">jaroslawwojtaszczyk@gmail.com</a><br />
</address>